.nav-container{
    width: 100%;
    height: 75px;
    background-color: #12091f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 0 20px rgba(150, 80, 255, 0.2);
    background-image: url("/loginbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
}

ul{
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}

li{
    cursor: pointer;
    font-size: 14px;
    border: 1px solid grey;
    padding: 7px 14px;
    border-radius: 999px;

    transition: 
        background 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

li:hover{
    background: linear-gradient(90deg, #9333ea, #7c3aed);
    color: white;
    border: none;
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 6px 14px rgba(147, 51, 234, 0.4);
}

.logout{
    padding: 7px 14px;
    background: linear-gradient(90deg, #9333ea, #7c3aed);
    border: none;
    border-radius: 999px;
    color: white;
    font-weight: 600;
    cursor: pointer;

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        opacity 0.2s ease;
}

.logout button{
    background: transparent;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.logout:hover{
    opacity: 0.9;
    transform: translateY(-2px) scale(1.04);
    box-shadow: 0 6px 14px rgba(147, 51, 234, 0.4);
}

    /* Link{
        text-decoration: none;
        color: white;
        cursor: pointer;
        width: 100%;
        height: 100%;

    } */

/* a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
} */

@media (max-width: 768px) {

    .nav-container{
        padding: 0 20px;
        height: auto;
        flex-direction: column;
        gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    ul{
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    li{
        font-size: 14px;
        padding: 6px 14px;
    }

    .logout{
        font-size: 14px;
        padding: 6px 14px;
    }
}
